# Django
CSRF_TRUSTED_ORIGINS=
SECRET_KEY=[[FRAGDEV_SECRET_KEY]]
DOCKER_PROD=True

# Database
POSTGRES_USER=[[FRAGDEV_DB_USER]]
POSTGRES_PASSWORD=[[FRAGDEV_DB_PASSWORD]]
POSTGRES_DB=[[FRAGDEV_DB_NAME]]
DATABASE_URL=postgres://[[FRAGDEV_DB_USER]]:[[FRAGDEV_DB_PASSWORD]]@db-fragdev:5432/[[FRAGDEV_DB_NAME]]

# Redis
REDIS_URL=redis://redis-fragdev

# Discord OAuth2 - https://discord.com/developers/applications
DISCORD_CLIENT_ID=[[FRAGDEV_DISCORD_CLIENT_ID]]
DISCORD_CLIENT_SECRET=[[FRAGDEV_DISCORD_CLIENT_SECRET]]
DISCORD_GUILD_ID=164136635762606081

# Extra Life
EXTRALIFE_TEAMID=73149
MIN_EL_TEAMID=73127
MIN_EL_PARTICIPANTID=565075

# Twitch bot integration
FRAG_BOT_API=[[FRAGDEV_FRAG_BOT_API]]
FRAG_BOT_KEY=[[FRAGDEV_FRAG_BOT_KEY]]

# Tiltify
TILTIFY_TOKEN=[[FRAGDEV_TILTIFY_TOKEN]]
TILTIFY_TEAMS=fragforce
